  <footer>
    <p>{{ site.name }} by bakumeraman</p>
      <p>This project stems from the coursebook <a title="ISBN search with Google" target="_blank" href="https://www.google.com/search?q=ISBN+978-1-80461-049-7">Eleventy by Example</a> by Bryan Robinson.</p>
  </footer>
</body>
</html>